@import "./palette.scss";

#root {
  width: 100%;
}
#logo {
  height: 20;
  width: 20;
}

.player {
  animation-duration: 2s;
}
.logo-wrapper {
  height: 80px;
  width: 150px;
  padding-left: 20px;
}

.app-header {
  height: fit-content;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contract-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  justify-content: center;
}
