@import "./palette.scss";

body {
  background-color: $keppel;
  display: flex;
  font-family: "Muli", sans-serif;
  justify-content: stretch;
}

.contract,
.existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #c16cf3;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 15px;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

:root {
  --tea-green: #deefb7ff;
  --celadon: #98dfafff;
  --keppel: #5fb49cff;
  --marian-blue: #414288ff;
  --palatinate: #682d63ff;

  /* CSS HSL */
  --tea-green: hsla(78, 64%, 83%, 1);
  --celadon: hsla(139, 53%, 74%, 1);
  --keppel: hsla(163, 36%, 54%, 1);
  --marian-blue: hsla(239, 35%, 39%, 1);
  --palatinate: hsla(305, 40%, 29%, 1);
}
/* CSS HEX */
