/* Coolors Exported Palette - https://coolors.co/deefb7-98dfaf-5fb49c-414288-682d63 */

/* SCSS HEX */
$tea-green: #deefb7ff;
$celadon: #98dfafff;
$keppel: #5fb49cff;
$marian-blue: #414288ff;
$palatinate: #682d63ff;

/* SCSS HSL */
$tea-green: hsla(78, 64%, 83%, 1);
$celadon: hsla(139, 53%, 74%, 1);
$keppel: hsla(163, 36%, 54%, 1);
$marian-blue: hsla(239, 35%, 39%, 1);
$palatinate: hsla(305, 40%, 29%, 1);

/* SCSS RGB */
$tea-green: rgba(222, 239, 183, 1);
$celadon: rgba(152, 223, 175, 1);
$keppel: rgba(95, 180, 156, 1);
$marian-blue: rgba(65, 66, 136, 1);
$palatinate: rgba(104, 45, 99, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-right: linear-gradient(90deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-bottom: linear-gradient(180deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-left: linear-gradient(270deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-top-right: linear-gradient(45deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-bottom-right: linear-gradient(135deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-top-left: linear-gradient(225deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-bottom-left: linear-gradient(315deg, #deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);
$gradient-radial: radial-gradient(#deefb7ff, #98dfafff, #5fb49cff, #414288ff, #682d63ff);