.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #012738;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: #5eacd1;
  margin: 20px;
  font-size: 4vw;
}

.App-Wrapper {
  display: flex;
  justify-content: space-around;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  color: #027eb8;
}
.transactions {
  width: fit-content;
  background-color: #027eb8;
  color: #5eacd1;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  align-content: space-between;
  align-items: start;
  flex-direction: column;
}

.Wallet {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #012738;
  flex-direction: column;
}

.transactions span {
  color: White;
  font-size: larger;
  font-style: bold;
}
.transaction-comp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  margin: 0px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
